<% if flash[:create] %>
	<p><%= flash[:create] %></p>
<% elsif flash[:update] %>
	<p><%= flash[:update] %></p>
<% end %>


<h2> Title:</h2>
<p><%= @post.title %></p>
<h2> Body:</h2>
<p><%= @post.body %></p>

<%= link_to "edit", edit_post_path(@post), class: "edit_#{@post.id}"%> |
<%= link_to "back", posts_path, class: "back" %>